.banner{
  height: 50vh;
  position: relative;
  background: url(../Img/IMG-01.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}

.banner__descripcion{
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
  color: black;
  background: bisque;
  font-family: Dancing, script;
}

.banner2{
  height: 50vh;
  position: relative;
  background: url(../Img/banner2.jpg);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.banner2 h1{
  font-size: 28px;
}

.banner2__descripcion{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.button__banner{
  background:orangered ;
  border: none;
  padding: 12px;
  color: yellow;
  font-size: 20px;
}

.button__banner:hover{
  border: 2px solid orange;
  background: none;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: pacifico, display;
  box-sizing: border-box;
  
}

.contenedor{
  width: 100%;
  margin: auto;
}

.fondo{
  height: 50vh;
  position: relative;
  background: url(../Img/dibujo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.fondo-descripcion{
  position: absolute;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
  color: black;
  background: bisque;
  font-family: Dancing, script;

}


.galeria h1{
font-size: 40px;
text-align: center;
}

.galeria{
  margin: 20px;
  width: 100%;
  background-image: linear-gradient(yellow, bisque, orange);

}

.galeria__producto{
  margin: 20px;
  width: 100%;
  background-image: linear-gradient(yellow, bisque, orange);

}

.galeria__producto h1{
  font-size: 40px;
  text-align: center;
}

.galeria__producto img{
  border-radius: 20%;
  justify-content: space-around;

}

.galeria img{
  border-radius: 20%;
  justify-content: space-around;
}

.header__contenido{
  position: relative;
  z-index: 100;
}

.historia__compañia{
  margin: 20px;
  width: 100%;
  background-image: linear-gradient(yellow, bisque, orange);
}

.historia__compañia h2{
  font-size: 40px;
  text-align: center;
}

.historia__compañia img{
  justify-content: space-around;
  background-position: center;
  position: relative;
  background-size: cover;
  
  
}


iframe{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    display: flex;
    justify-content: center
}


.info h1{
  color: yellow;
  font-size: 30px;
}

.info{
  text-align: center;
}

.info__columna{
  margin: 20px;

}

.info .contenedor{
  display: grid;
  grid-gap: 10px;
}

.justificar__imagen{
  padding: 10px;
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;

}

.lista-padre{
  background-image: linear-gradient(yellow,white,orange);
  padding: 10px; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content:flex-end;
  align-items: center;
  border: 2px solid black;
}

.lista-hijo{
  width: 100px;
  height: 30px;
  margin: 5px;
  background: black;
  text-align: center;
  color: white;

}

.lista-hijo:hover{
  background-color:white;
}

.lista-padre2{
  background-image: linear-gradient(yellow,white,orange);
  padding: 10px; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content:center;
  align-items: center;
  border: 2px solid black;
}

.lista-hijo2{
  height: 30px;
  margin: 5px;
  text-align: center;
  color: black;

}


.logo-compañia{
    display: flex;
    width: 20%;
    height: 200px;
    justify-content: left;
  

  }

  @media(min-width: 520px){
    .banner h1{
      font-size: 30px;
    }
    .grid{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2,1fr);
    }

    .banner2 h2{
      font-size: 50px;
    }

    .info .contenedor{
      grid-template-columns: (3,150px);
      justify-content: space-around;
    }

    .banner2 p{
      font-size: 25px;
    }
  }
 
  @media(min-width: 1024px){
    .contenedor{
      width: 1000px;
    }
    .banner h1{
      font-size: 45px;
    }

    .grid{
      grid-template-columns: repeat(auto-fit,minmax(225px, 1fr));
      grid-auto-flow: dense;
    }

    .big{
      grid-column: span 2;
      grid-row: span 2;
      grid-auto-rows: 160px;
    }

    .banner2{
      font-size: 28px;
    }
  }

  #Pie{
      background: burlywood;
      color: coral;
      padding: 10px;
      text-align: center;
      
  }
      
  
  .texto-inicio{
      display: flex;
      justify-content: center;
      margin-block: 5px;
      background: khaki;
  }


  .video__img{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }


